---
import { Image } from "astro:assets";
import hero1 from "@images/hero/hero_img_1.jpg";
import hero2 from "@images/hero/hero_img_2.jpg";
import hero3 from "@images/hero/hero_img_3.jpg";
import hero4 from "@images/hero/hero_img_4.jpg";
import hero5 from "@images/hero/hero_img_5.jpg";
import hero6 from "@images/hero/hero_img_6.jpg";
import headingSp from "@images/heading/heading_hero_sp.svg";
import headingPc from "@images/heading/heading_hero_pc.svg";
---

<div class="hero">
    <div class="hero-container swiper">
        <!-- スライド要素を包む要素 -->
        <div class="swiper-wrapper">
            <!-- 各スライド -->
            <div class="swiper-slide">
                <Image class="zoom-up" src={hero1} alt="" />
            </div>
            <div class="swiper-slide">
                <Image class="zoom-up" src={hero2} alt="" />
            </div>
            <div class="swiper-slide">
                <Image class="zoom-up" src={hero3} alt="" />
            </div>
            <div class="swiper-slide">
                <Image class="zoom-up" src={hero4} alt="" />
            </div>
            <div class="swiper-slide">
                <Image class="zoom-up" src={hero5} alt="" />
            </div>
            <div class="swiper-slide">
                <Image class="zoom-up" src={hero6} alt="" />
            </div>
        </div>
    </div>
    <h1 class="heading">
        <div class="heading-sp">
            <Image class="zoom-up" src={headingSp} alt="" />
        </div>
        <div class="heading-pc">
            <Image class="zoom-up" src={headingPc} alt="" />
        </div>
    </h1>
</div>

<style>
    .hero {
        width: 100%;
        height: 60vh;
        position: relative;
        z-index: -1;
    }
    .hero-container {
        width: 87%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
    }
    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @keyframes zoomUp {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.1);
        }
    }

    .swiper-slide-active .zoom-up,
    .swiper-slide-duplicate-active .zoom-up,
    .swiper-slide-prev .zoom-up {
        animation: zoomUp 5s linear 0s normal both;
    }

    .heading-sp {
        position: absolute;
        bottom: 5%;
        left: 12%;
        z-index: 10;
    }
    .heading-pc {
        display: none;
    }
    @media (min-width: 768px) {
        .hero-container {
            width: 94%;
        }
        .hero {
            height: 75vh;
        }
        .heading-sp {
            display: none;
        }
        .heading-pc {
            display: block;
            position: absolute;
            top: 5%;
            left: 7%;
            z-index: 10;
        }
    }
</style>
<script>
    // import Swiper JS
    import Swiper from "swiper/bundle";
    // import Swiper styles
    import "swiper/css/bundle";

    function SlideShow() {
        const swiper = new Swiper(".swiper", {
            effect: "fade",
            fadeEffect: {
                crossFade: true,
            },
            loop: true,
            loopAdditionalSlides: 1,
            speed: 2000,
            autoplay: {
                delay: 4000,
                disableOnInteraction: false,
                waitForTransition: false,
            },
            followFinger: false,
        });
    }
    document.addEventListener("astro:after-swap", SlideShow);
    SlideShow();
</script>
